{% extends 'mainsite/base.html' %} 
{% load static %} 
{% block content %}
<div class="upload-container">
    <div class="upload__step">
        <ul>
            <li id="uploadStep1" class="upload__step--selected">
                <div>1</div>
                <span>프로젝트 기본 내용을 입력해주세요.</span>
            </li>
            <li id="uploadStep2" class="upload__step--nominee">
                <div>2</div>
                <span>프로젝트 상세 내용을 입력해주세요.(선택)</span>
            </li>
            <li id="uploadStep3" class="upload__step--nominee">
                <div>3</div>
                <span>관련 자료를 업로드해주세요.(선택)</span>
            </li>
            {% if user.is_authenticated %}
            <li id="uploadStepDone" class="upload__step--nominee">
                <div>4</div>
                <span>프로젝트 등록 완료!</span>
            </li>
            {% else %}
            <li id="uploadStep4" class="upload__step--nominee">
                <div>4</div>
                <span>회원가입을 완료해주세요.</span>
            </li>
            <li id="uploadStepDone" class="upload__step--nominee">
                <div>5</div>
                <span>프로젝트 등록 완료</span>
            </li>
            {% endif %}
        </ul>
    </div>
    <form name='uploadProject' method="post" action="{% url 'boltnnut:uploadProject' %}">
        {% csrf_token %}
        <div class="upload__content" value="{{user.is_authenticated}}" status="{{status}}">
            <div class="upload__content--01">
                <section>
                    <h2>프로젝트 기본 내용을 입력해주세요.</h2>
                    <hr>
                </section>
                <section>
                    <h3>프로젝트 제목</h3>
                    {{form.title}}
                </section>
                <section>
                    <h3>희망 예산</h3>
                    <p>예산은 파트너와 협의가 가능합니다. 대략적인 범위를 작성해주세요.</p>
                    {{form.budget}}
                    <div>
                        {{form.budget_show}}
                        <span>파트너에게 예산을 공개하지 않겠습니다.</span>
                    </div>
                </section>
                <section>
                    <h3>프로젝트 희망 마감일</h3>
                    {{form.expired_date}}
                    <div>
                        {{form.expired_negotiate}}<span>기간 협의가 가능합니다.</span></div>
                </section>
                <section>
                    <h3>희망 수량</h3>
                    <p>1,000개 미만은 입찰에 참여하는 파트너의 수가 적을 수 있습니다.</p>
                    {{form.goal}}
                    <div>
                        
                        {{form.goal_negotiate}}
                        <span>수량 협의가 가능합니다.</span>
                    </div>
                </section>
            </div>
            <div class="upload__content--02" >
                <section>
                    <h2>프로젝트 상세 내용을 입력해주세요.</h2>
                    <span>(선택 입력 사항)</span>
                </section>
                <p>기본 내용 외 파트너에게 요청하고 싶은 내용이 있다면 작성해주세요.</p>
                <p><textarea name="descript" value="{{form.descript.value}}">
    1. 프로젝트 목적
    - 제품을 만들게 된 배경, 사용 목적 등을 알면 더 적합한 제작 정보를 드릴 수 있습니다.

    2. 프로젝트 소개 
    - 어떤 제품인지 구체적으로 알려주세요.(주요 기능, 재질, 특징, 사이즈 등)

    3. 참고자료 / 레퍼런스 
    - 참고할만한 제품의 링크나 내용을 적어주시면 더 빠르게 도와드릴 수 있습니다.

    4. 제조사 요청사항
    - 프로젝트에서 가장 중요하게 고려해야하는 것을 알려주세요.
                </textarea></p>
            </div> 
            <div class="upload__content--03">
                <h2>관련 자료를 업로드해주세요.</h2>
                <span>(선택 입력 사항)</span>
                <p>기획 관련 문서, 이미지, 모델링 데이터, 도면 등이 있다면 업로드 해주세요. 
                    <br>파일 용량은 <b>100MB</b>를 넘을 수 없습니다.</p>
                <hr>
                <section class="upload-file" id="uploadFile">
                    <input name="attached" class="upload-file__box" type="file" multiple>
                </section>
            </div>
            {% if user.is_authenticated == False %}        
            <div class="upload__content--04" >
                <h2>회원가입을 완료해주세요.</h2>
                <hr>
                <div class="signup-client__email" id="">
                    <label for="email">이메일</label>
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        id="email"
                    />
                </div>
                <div class="signup-client__password1">
                    <label for="password1">비밀번호</label>
                    <input 
                        type="password"
                        class="form-control"
                        name="password1"
                        id="password1"
                    />
                </div>
                <div class="signup-client__password2">
                    <label for="password2">비밀번호 확인</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password2"
                        id="password2"
                    />
                </div>
                <div class="signup-client__name">
                    <label for="name">이름</label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                    />
                </div>
                <div class="signup-client__phone">
                    <label for="phone">휴대전화</label>
                    <input
                        type="text"
                        class="form-control"
                        name="phone"
                        id="phone"
                        pattern="^([0-9]{9,11})$"
                    />
                </div>
                <div class="signup-client__company">
                    <label for="company">회사명</label>
                    <input
                        type="text"
                        class="form-control"
                        name="company"
                        id="company"
                    />
                </div>
                <div class="signup-client__jobposition">
                    <label for="jobPosition">직급</label>
                    <input
                        type="text"
                        class="form-control"
                        name="jobPosition"
                        id="jobPosition"
                    />
                </div>
                <div class="signup-client__userType">
                    <input type="text" name="userType" id="userType"/>
                </div>
            </div>
            {% endif %}
            
        </div>
        <section class="upload__content__step-controls">
                <div class="upload__step__previous" id="previous">
                    <span>< 이전</span>
                </div> 
                <div class="upload__step__next" id="next">
                    <span>다음</span>
                </div>  
                <div id="projectSubmit">
                    <button class="upload__step__next" type="submit">등록</a>
                </div>
        </section>
    </form>
</div>
{% endblock %}