@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    background: #EAF0FA;
}
b{
    color: #143ace;
}
/*footer*/
.footer-container{
    width:100vw;
    padding:3em 5em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-container ul{
    list-style: none;
}
.footer-container hr{
    width:80vw;
}
.footer__tel{
    font-size:1.5em;
    font-weight:700;
}
.footer__business-hours{
    color:gray;
}
.footer__menu >ul {
    margin:0 0 1em -2em;
    display:
    flex;
    text-align:
    center;
}
.footer__menu li{
    padding:0 1em;
}
.footer__menu ul li:nth-child(2n+1){
    font-weight:700;
}
.footer__company-info{
    font-size:0.9em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__company-info:first-child{
    display:flex;
    column-gap: 1em;
}
.footer__company-info:last-child{
    display:flex;
    column-gap: 1em;
}
.footer__company-info--content{
    color:gray;
}
/*navigation*/
.navigation{
    background: white;
}
.navigation-container{
    position:fixed;
    margin:auto;
    z-index:10;
    width:100vw;
}
.navigation__profile{
    display: flex;
    column-gap: 1em;
}

.navigation__profile>img{
    width:2em;
}
.nav-link{
    color:white;
}
.navigation__menu-logo{
    display: flex;
    margin: 2em 2.5em 1em 2.5em;
    width:85vw;
    justify-content:center;
    justify-self: center;
}
.navigation__brand{
    padding:0.3em 0;
}
.navigation__brand--logo{
    height:1.5em;
}
.navigation__menu{
    flex-grow: 1;
}
.navigation__menu > ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.navigation__lists__list{
    display: flex;
}
.navigation__lists__list > li{
    padding:0.4em 1em;
}

.navigation__buttons{
    display: flex;
    column-gap: 1em;
    justify-self: flex-end;
}
.navigation__buttons > li{
    padding:0.4em 2em;
    border-radius: 1.4em;
}
.navigation__buttons--log{
    border:0;
    border-style: solid;
    border-width: 0.05em;
    border-color: darkgray;
}
/*footer*/


/*index*/
.banner-container{
    z-index: 1;
    width:100vw;
}
.banner{
    display: flex;
    justify-items: center;
    row-gap: 3em;
    padding:15em 0;
    color:white;
    background: #112881;
    flex-direction: column;
}
.banner > div{
    margin: auto;
    width:fit-content;
}
.banner__text{
    text-align: center;
}
.banner__text--big{
    font-size: 3.5em;
    font-weight: 600;
}
.banner__text--small{
    font-size:1.3em;
    font-weight:300;
}
.banner__search-bar{
    text-align: center;
    padding:0.5em 1.5em;
    background: white;
    border-radius: 1.5em;
}
.banner__search-bar > input{
    border:0;
    width:25em;
}

/*signup*/
.signup-container{
    padding-top:15em;
    display:
    flex;
    flex-direction:
    column;
    justify-content:
    center;
    align-items: center;
    text-align:center;
}
.signup__logo{
    width:
    fit-content;
    display:
    flex;
    flex-direction:
    column;
    justify-content: center;
    row-gap:1em;
    align-content: center;
    align-items: center;
}
.signup__logo b{
    color:#0e5cfd;
}
.signup__logo > img{
    width:13em;
}
.signup__cards{
    display:flex;
    justify-content:center;
    column-gap:2em;
    margin:5em 0;
}
.signup__cards__card{
    background:white;
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.5);
    padding:4em 2em;
    display:
    flex;
    flex-direction:
    column;
    justify-items:
    center;
    border-radius:1em;
    width:20em;
    align-items: center;
    justify-content: center;
}
.signup__cards__card--top{
    color:#979797;
}
.signup__cards__card > h2{
    font-size:1.3em;
    font-weight:700;
}

.signup__cards__card--image{
    width:12.5em;
    margin:auto;
}

/*signup client*/
.signup-client-container{
    display: flex;
    width: 100vw;
    padding-top:15em;
    flex-direction: column;
    align-items: center;
}
.signup-client__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:2em;
    row-gap: 0.7em;
}
.signup-client__title > p{
    font-size:1.2em;
}
.signup-client__title > img{
    width:1.7em;
}
.signup-client__container > form{
    min-width:50em;
}
.signup-client__userType{
    display: none;
}

/*signin*/
.signin-container{
    display: flex;
    width: 100vw;
    padding-top:15em;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}
.signin__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:2em;
    row-gap: 0.7em;
}
.signin__title > img{
    width:13em;
}
.signin-container > form{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    min-width: 30em;
}
.signin__buttons{
    display:grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
.signin__buttons *{
    width:100%;
    background: #0e5cfd;
    border-radius: 2em;
    height: 2.5em;
    vertical-align: middle;
}
.signin__buttons button{
    
}
/*project*/
.project-container{
    padding:10em 0 5em 0;
    width:100vw;
    background-color: #EAF0FA;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: center;
}
.project-container > div{
    background-color: coral;
    width:50em;
}
.project__keyword--title{
    margin-bottom: 2em;;
}
.project__subhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project__lists__submit{
    display: flex;
    column-gap: 1em;
}
.project__lists__submit a{
    background-color: #112881;
    color: white;
    padding:0 1.5em;
    font-size: 1em;
    border-radius: 1em;
}

/*upload project*/
.upload-container{
    display: flex;
    column-gap: 1em;
    background-color: #EAF0FA;
    justify-content: center;
    padding: 10em 0 20em 0;
}
.upload__step ul{
    list-style: none;
}
.upload-container > div,form{
    background-color: white;
    border-radius: 1.5em;
    height: fit-content;
}
.upload__content > div{
    padding:3em 6em 3em 2em;
}
.upload__step *{
    color:gray;
}
.upload__step > ul > li{
    display: flex;
    column-gap: 1em;
    align-items: center;
    margin:1em 1.5em 0 -0.5em;
}
.upload__step > ul > li > div{
    display: flex;
    align-self: center;
    width:2em;
    height:2em;
    border-radius: 1em;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.upload__step--nominee > div{
    background:
    lightgray;
    color:white;
}
.upload__step--selected > span{
    color:#143ace;
}
.upload__step--selected > div{
    color:white;
    background: #143ace;
}
.upload__content h2 {
    font-size: 1.7em;
    font-weight: 550;
}
.upload__content h3{
    font-size:1.2em;
}
/*upload step 1*/
.upload__content--01{
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}
/*upload step 2*/
.upload__content--02 > section{
    display: flex;
    column-gap: 1em;
    align-items: center;
}
.upload__content--02 > section > span{
    
}

.upload__content--02 textarea{
    width:40em;
    height:25em;
    overflow: hidden;
    font-size: 0.8em;
    padding:2em;
}
.upload-file__box{
    width:32em;
    height:20em;
    background-color: rgb(173, 110, 110);
}